pipeline/dpi30testeussimpledjrest.json
{
	"name": "dpi30testeussimpledjrest",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://worldtimeapi.org/api/timezone/asia/kolkata",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "response",
					"value": {
						"value": "@{activity('Web1').output}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"response": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dpi30testeusdj"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-18T09:52:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}