pipeline/ParentChildPattern.json
{
	"name": "ParentChildPattern",
	"properties": {
		"activities": [
			{
				"name": "all Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT table_catalog [database], table_schema [schema], table_name [name], table_type [type]\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "dpi30DedicatedSqlPoolConnection",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "all Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('all Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_ParentChildPattern_",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Schema": {
										"value": "@{item().schema}",
										"type": "Expression"
									},
									"Table": {
										"value": "@{item().name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "dpi30testeusdj/ParentChildPattern"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-31T10:56:55Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}