pipeline/RUN_SQL_FROM_FILE_NO_VAR_SET.json
{
	"name": "RUN_SQL_FROM_FILE_NO_VAR_SET",
	"properties": {
		"activities": [
			{
				"name": "GET_FILE_CONTENT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "NOHY.SQL",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "GET_FILE_CONTENT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AdamDvorakDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@string(activity('GET_FILE_CONTENT').output.value[0].Prop_0)",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"DDL": {
				"type": "Array"
			},
			"QUERY": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-18T14:48:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}